{% extends 'template.twig' %}
{% import 'form.twig' as forms %}
{% block title 'Ajustes' %}
{% block master %}
	
	{% include 'header.twig' with { 'title': block('title') } %}

	<div class="console-content console-content-adjusments">
		<div class="container">
			<div class="msg-to--user">
				<i class="flat-animal-6"></i>
				<span>Página em construção!</span>
			</div>
		</div>
	</div>

{% endblock %}