.console-field{
	border-radius: $size-corner;
    border: 1px solid $color-border;
	font-size: 15px;
    padding: 6px 15px 9px 15px;
	background: white;
	position: relative;
	&:focus {
		border-color: $color-theme-1; 
	}
}

textarea.console-field {
	min-height: 110px;
	&::-webkit-scrollbar { width: 3px; }
	&::-webkit-scrollbar-track { background: transparent; }
	&::-webkit-scrollbar-thumb { border-radius: 0; background-color: $color-theme-1; }
	&::-webkit-scrollbar-thumb:window-inactive { background: $color-border; }
}

.console-search {
	position: relative;
	max-width: 280px;
}
.console-search > .console-field{
	padding-left: 40px;
}

.console-search-icon {
	width: 40px;
	height: 36px;
	position: absolute;
	text-align: center;
	line-height: 35px;
	font-size: 21px;
	z-index: 1;
}

.console-field-container {
	background: white;
	padding: 5px;
	@extend %box; 
	border-radius: $size-corner;
}

.console-field-title {
	color: $color-black-1;
	padding: 0 20px 4px 0;
	font-size: 15px;
	line-height: 30px;
	z-index: 12;
	position: relative;
}

.console-field-case:last-child {
	padding-top: 10px;
}

.console-field-case:not(:last-child){
	margin-bottom: 15px;
}

.console-box-form {
    @extend %box;
    border-radius: $size-corner;
    border: 1px solid $color-border; 
	background: white;
    padding: 15px 30px 30px 30px;
}

.login-form-box {
	@extend %box;
}

.login-form-box + .login-form-box {
	margin-top: 15px;
}

.login-form-header {
	h2 {
		font-weight: normal;
		> span {
			font-size: 55%;
			opacity: .8;
		}
	}
}